body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: url(_img/imgdev.jpg);
    background-size: cover;
    align-items: center center;
    justify-content: center;
    text-align: center center;
    display: flex;
    flex-direction: column; /* Align items in a column */
    height: 45vh;
}

header {
    color: rgb(89, 82, 182);
    text-align: center;
    padding: 17px;
    height: 30vh;
}

nav {
    margin-top: 0px; /* Adjust the top margin to center the menu */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(22, 224, 180);
    font-size: 25px;
}

section {
    margin: 40px 0;
    padding: 20px;
    border-radius: 5px;
}

footer {
    text-align: center;
    color: rgb(89, 82, 182);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}

p{
    color: rgb(28, 99, 83);
    padding: 5px 0;
    margin: 0;  
    text-align: center; 
    font-size: 22px;
}

ul li a {
    text-decoration: none;
    color: rgb(22, 224, 180);
    transition: color 0.3s;
    
}

ul li a:hover {
    color: rgb(10, 231, 132);
    background-color: rgba(88, 197, 60, 0.3);
    overflow: hidden;
}
    

h1 {
    
    color: rgb(22, 224, 180);
    padding: 0;
    margin: 0;
    font-size: 55px;
    
}

h2{
    text-decoration: underline;
    color: rgb(90, 160, 32);
    padding: 0;
    margin: 0;
    font-size: 30px;
    text-align: center;
    
}




