body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: url(_img/fundodev.jpeg);
    background-size: cover;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column; /* Align items in a column */
    height: 35vh;
}

header {
    color: rgb(89, 82, 182);
    text-align: center;
    padding: 17px;
    height: 30vh;
}

nav {
    margin-top: 0px; /* Adjust the top margin to center the menu */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(89, 82, 182);
    font-size: 25px;
}

section {
    margin: 40px 0;
    padding: 20px;
    border-radius: 5px;
}

footer {
    text-align: center;
    color: rgb(89, 82, 182);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}

p{
    color: rgb(89, 82, 182);
    padding: 5px 0;
    margin: 0;  
    text-align: center; 
}

ul li a {
    text-decoration: none;
    color: rgb(89, 82, 182);
    transition: color 0.3s;
}

ul li a:hover {
    color: rgb(166, 168, 17);
    text-decoration-line: underline;
    
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-decoration: underline;
    color: rgb(89, 82, 182);
    padding: 0;
    margin: 0;
}

h2{
    text-decoration: underline;
    color: rgb(89, 82, 182);
    padding: 0;
    margin: 0;
    
}




